<section id="ek-workspace-{{id}}" class="ek-workspace">
  <section id="ek-subtab-views-{{id}}" class="ek-sub-tab-views">
    <section
      id="ek-subtab-view-{{id}}"
      class="ek-sub-tab-view ek-selected-true"
    >
      <h1>Home</h1>
      <div class="ek-columns">
        <div class="ek-columns ek-col-fill">
          <div class="ek-card">My Performance</div>
          <div class="ek-card">My Team's Performance</div>
          <div class="ek-card">Reminders</div>
        </div>

        <div class="ek-tabs">
          <ul>
            <li class="ek-selected-true">
              <a class="ek-action-tab" href="">Tab 1</a>
            </li>
            <li><a class="ek-action-tab" href="">Tab 2</a></li>
            <li><a class="ek-action-tab" href="">Tab 3</a></li>
          </ul>
          <div class="ek-selected-true">
            1
          </div>
          <div>2</div>
          <div>3</div>
        </div>
      </div>
    </section>

    <section class="ek-sub-tab-view ek-columns ek-selected-true"></section>
  </section>
</section>
