<section id="ek-subtab-view-{{id}}" class="ek-sub-tab-view ek-columns">
  <div class="ek-highlight-panel ek-card">
    <h1><span class="ek-icon">person_outline</span> {{label}}</h1>
    <div class="ek-card-controls">
      <div class="ek-button-group ek-m-bottom">
        <button class="ek-button ek-button-secondary">Edit</button>
        <button class="ek-button ek-button-secondary">Verify</button>
      </div>
    </div>
  </div>

  <div class="ek-tabs ek-tabs-standard">
    <ul>
      <li class="ek-selected-true">
        <a class="ek-action-tab" href="">Overview</a>
      </li>
      <li><a class="ek-action-tab" href="">Accounts</a></li>
      <li><a class="ek-action-tab" href="">Cards</a></li>
      <li><a class="ek-action-tab" href="">Transactions</a></li>
      <li><a class="ek-action-tab" href="">More</a></li>
    </ul>
    <div class="ek-selected-true">
      <div class="ek-columns ek-col-0-2-1">
        <div class="ek-columns">
          <div class="ek-card">
            <h3>Highlights</h3>
            <div class="ek-card-controls"><a href="">View all details</a></div>
            <div class="ek-columns ek-col-fill">
              <div class="ek-label-field">
                <label>Email</label>
                <span
                  ><!--email_off-->
                  eromodax@gmail.com
                  <!--/email_off--></span
                >
              </div>
              <div class="ek-label-field">
                <label>Phone Number</label>
                <span>555-489-7895</span>
              </div>
              <div class="ek-label-field">
                <label>Last 4 Social</label>
                <span>9968</span>
              </div>
            </div>
          </div>
          <div class="ek-card">
            <h3>Account Snapshots</h3>
            <div class="ek-card-controls"><a href="">View all accounts</a></div>
            <div class="ek-tabs ek-tabs-boxes">
              <ul>
                <li class="ek-selected-true">
                  <div class="ek-label-field ek-action-tab">
                    <label>Checking</label>
                    <strong>$145.75</strong>
                    <span class="ek-pill ek-pill-healthy">Active</span>
                    <div class="ek-cc ek-cc-debit"></div>
                  </div>
                </li>
                <li>
                  <div class="ek-label-field ek-action-tab">
                    <label>Credit</label>
                    <strong>$250</strong>
                    <span class="ek-pill ek-pill-healthy">Active</span>
                    <div class="ek-cc ek-cc-credit"></div>
                  </div>
                </li>
                <li>
                  <div class="ek-label-field ek-action-tab">
                    <label>Savings</label>
                    <strong>$575.87</strong>
                    <span class="ek-pill ek-pill-healthy">Active</span>
                    <div class="ek-cc ek-cc-blank"></div>
                  </div>
                </li>
                <li>
                  <div class="ek-label-field ek-action-tab">
                    <label>Loan</label>
                    <strong>$0</strong>
                    <span class="ek-pill ek-pill-healthy">Eligible</span>
                    <div class="ek-cc ek-cc-blank"></div>
                  </div>
                </li>
              </ul>
              <div class="ek-selected-true">
                <table>
                  <tr>
                    <th>Merchant Name</th>
                    <th>Date & Time</th>
                    <th>Status</th>
                    <th>Type</th>
                    <th>Id</th>
                    <th class="ek-td-right">Amount</th>
                    <th class="ek-td-right">Balance</th>
                  </tr>
                  <tr>
                    <td>Mercado Gas</td>
                    <td>2022-12-02 11:29:45 PDT</td>
                    <td>Settled</td>
                    <td>Merchant debit</td>
                    <td>123456789</td>
                    <td class="ek-td-right">$10.15</td>
                    <td class="ek-td-right">$145.75</td>
                  </tr>
                </table>
              </div>
              <div>Credit</div>
              <div>Savings</div>
              <div>Loan</div>
            </div>
          </div>
          <div class="ek-card">
            <h3>All Notes & Activity</h3>
            <div class="ek-input ek-input-text">
              <input type="text" />
            </div>
            <div class="ek-tabs ek-tabs-pills">
              <h3>What happened today</h3>
              <ul>
                <li class="ek-selected-true">
                  <a class="ek-action-tab" href="">Everything</a>
                </li>
                <li><a class="ek-action-tab" href="">Notes</a></li>
                <li><a class="ek-action-tab" href="">Change History</a></li>
              </ul>
              <div class="ek-selected-true">
                Everything
              </div>
              <div>
                Notes
              </div>
              <div>
                Change History
              </div>
            </div>
          </div>
        </div>
        <div class="ek-columns">
          <div class="ek-card">
            <h3>Quick Links</h3>
            <div class="ek-input ek-input-text">
              <input type="text" />
            </div>
            <p>
              <a class="ek-action-open-record" data-ek='{"id":"1"}' href="">Enrique Desperado</a>
            </p>
            <p>
              <a class="ek-action-open-record" data-ek='{"id":"1-loan"}' href="">Loan #444555</a>
            </p>
            <p>
              <a class="ek-action-open-record"
                data-ek='{"id":"1-new-dispute"}'
                href="">New Dispute</a>
            </p>
            <p>
              <a class="ek-action-open-record"
                data-ek='{"id":"1-edit-member"}'
                href="">Edit Member</a>
            </p>
          </div>
          <div class="ek-card">
            <h3>Recent Uploads</h3>
            <div class="ek-media-block">
              <img src="" />
              <div class="ek-label-field">
                <label><a href="">Drivers License</a></label>
                <span class="ek-text-meta">Attached to case #444555</span>
              </div>
            </div>
            <div class="ek-media-block">
              <img src="" />
              <div class="ek-label-field">
                <label><a href="">January Paystub</a></label>
                <span class="ek-text-meta">Attached to case #444555</span>
              </div>
            </div>
          </div>
          <div class="ek-card">
            <h3>Tags</h3>
            <span class="ek-pill ek-pill-nuetral">high value</span>
            <span class="ek-pill ek-pill-nuetral">frequent cases</span>
            <span class="ek-pill ek-pill-nuetral">early adopter</span>
            <span class="ek-pill ek-pill-nuetral">vip member</span>
            <span class="ek-pill ek-pill-nuetral">joint account interest</span>
            <a href="">Add tag</a>
          </div>
        </div>
      </div>
    </div>
    <div>Accounts</div>
    <div>Cards</div>
    <div>Transactions</div>
    <div>More</div>
  </div>
</section>
