<section id="ek-subtab-view-{{id}}" class="ek-sub-tab-view ek-columns">
  <div class="ek-highlight-panel ek-card">
    <h1>{{label}}</h1>
  </div>

  <div class="ek-columns ek-col-0-2-1">
    <div class="ek-columns">
      <div class="ek-columns ek-col-fill">
        <div class="ek-card">1</div>
        <div class="ek-card">2</div>
        <div class="ek-card">3</div>
      </div>
      <div class="ek-columns ek-col-fill">
        <div class="ek-card">1</div>
        <div class="ek-card">2</div>
        <div class="ek-card">3</div>
      </div>
      <div class="ek-columns ek-card">
        <h1>Test Links</h1>
        <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
          >Enrique Desperado</a
        >
        <a class="ek-action-open-record" data-ek='{"id":"1-loan"}' href=""
          >Loan #444555</a
        >
        <a
          class="ek-action-open-record"
          data-ek='{"id":"1-new-dispute"}'
          href=""
          >New Dispute</a
        >
      </div>
    </div>
    <div class="ek-columns">
      <div class="ek-card">
        <p>right column</p>
      </div>
    </div>
  </div>
</section>
