<section id="ek-workspace-{{id}}" class="ek-workspace">
  <section id="ek-subtab-views-{{id}}" class="ek-sub-tab-views">
    <section
      id="ek-subtab-view-{{id}}"
      class="ek-sub-tab-view ek-columns ek-selected-true"
    >
      <h1>Search Results</h1>
      <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
        >Enrique Desperado</a
      >
      <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
        >Enrique Desperado</a
      >
      <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
        >Enrique Desperado</a
      >
      <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
        >Enrique Desperado</a
      >
      <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
        >Enrique Desperado</a
      >
      <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
        >Enrique Desperado</a
      >
      <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
        >Enrique Desperado</a
      >
    </section>

    <section class="ek-sub-tab-view ek-columns ek-selected-true"></section>
  </section>
</section>
