<section id="ek-workspace-{{id}}" class="ek-workspace">
  <section id="ek-subtab-views-{{id}}" class="ek-sub-tab-views ek-sub-tab-view-full">
    <section
      id="ek-subtab-view-{{id}}"
      class="ek-sub-tab-view ek-selected-true"
    >
      <h1>Search Results</h1>
      <div class="ek-columns">
          <a class="ek-action-open-record" data-ek='{"id":"1-loan"}' href="">Loan #444555</a>
        <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
          >Enrique Romero</a
        >
        <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
          >Enrique Romero</a
        >
        <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
          >Enrique Romero</a
        >
        <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
          >Enrique Romero</a
        >
        <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
          >Enrique Romero</a
        >
        <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
          >Enrique Romero</a
        >
        <a class="ek-action-open-record" data-ek='{"id":"1"}' href=""
          >Enrique Romero</a
        >
      </div>
    </section>

    <section class="ek-sub-tab-view ek-columns ek-selected-true"></section>
  </section>
</section>
